<style type="text/css">
	.appStoreBlock {
		padding-top: 25px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.appStoreList li {
		display: inline;
		list-style-type: none;
		padding-right: 15px;
	}

	.appStoreList img {
		height: 45px;
	}
</style>

<div class="jumbotron">
	<h3>Litecoin Easy Check</h3>

	<div class="row-fluid">
		<img src="img/litecoinEasyCheck_128.png" alt="Litecoin Easy Check Logo" />
		<p>Check the market price of Litecoin. Easy.</p>
		<p>Version {{version}}</p>
		<p>By Drake Emko</p>
		<p>Your feedback is welcome. Email: <a href="mailto:drakee@gmail.com">drakee@gmail.com</a></p>
		<div class="appStoreBlock">
			<ul class="appStoreList">
<!--
				<li>
					<a href="javascript:void(0)" ng-click="openLink('https://itunes.apple.com/us/app/bitcoin-easy-check/id780336876?ls=1&mt=8')" target="_blank"><img src="img/Available_AppStore_Button.png" title="Apple iTunes Store" alt="Apple iTunes Store" /></a>
				</li>
-->
				<li>
					<a href="javascript:void(0)" ng-click="openLink('https://play.google.com/store/apps/details?id=net.edrake.litecoineasycheck')" target="_blank"><img src="img/Available_GooglePlay_Button.png" title="Google Play Store (Android)" alt="Google Play Store (Android)" /></a>
				</li>
<!--
				<li>
					<a href="javascript:void(0)" ng-click="openLink('http://www.amazon.com/Drake-Emko-Bitcoin-Easy-Check/dp/B00H8KQZU4/ref=sr_1_1?s=mobile-apps&ie=UTF8&qid=1386772951&sr=1-1&keywords=bitcoin+easy+check')" target="_blank"><img src="img/kindle-appstore.png" title="Amazon Kindle Store" alt="Amazon Kindle Store" /></a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="openLink('https://chrome.google.com/webstore/detail/bitcoin-easy-check/dimfclahciiblaklehjikenimaafpaef')" target="_blank"><img src="img/ChromeWebStore_Badge_v2_496x150.png" title="Chrome Web Store" alt="Chrome Web Store" /></a>
				</li>
-->
			</ul>
		</div>
	</div>
</div>
