<?xml version='1.0' encoding='utf-8'?>
<widget id="net.edrake.bitcoineasycheck" version="1.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bitcoin Easy Check</name>
    <description>
		Check the market price of bitcoin. Simple and easy. Backend caches data from the bitcoincharts.com API.
    </description>
    <author email="drakee@gmail.com" href="https://github.com/psydrake">
        Drake Emko
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
