<?xml version='1.0' encoding='utf-8'?>
<widget id="net.edrake.litecoineasycheck" version="1.2" android-versionCode="7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Litecoin Easy Check</name>
    <description>
		Check the market price of Litecoin. Simple and easy. Backend caches data from the CryptoCoinCharts.info API.
    </description>
    <author email="drakee@gmail.com" href="https://github.com/psydrake">
        Drake Emko
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
