<style type="text/css">
.wapContainer {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
</style>
<div class="container-fluid">
	<div class="wapContainer">
      <h4 class="muted left">Weighted Average Prices</h4>
	  <h4 class="muted right">{{timestamp | date: 'MMM d, y h:mm a'}}</h4>
	  <br/>

      <table class="table table-bordered" ng-repeat="(key, value) in weightedPrices" ng-show="key === preferredCurrencyAbbrev">
		<thead>
		  <tr>
			<th colspan="2">Currency: {{key}}</th>
		  </tr>
		</thead>
        <tbody>
		  <tr>
	        <td class="currency">24 hours</td>
	        <td class="currency" ng-class="get24hClass(value.24h, value.7d)">{{value.24h | currency: currencySymbol(key)}}</td>
		  </tr>
		  <tr>
	        <td class="currency">7 days</td>
	        <td class="currency">{{value.7d | currency: currencySymbol(key)}}</td>
		  </tr>
		  <tr>
	        <td class="currency">30 days</td>
	        <td class="currency">{{value.30d | currency: currencySymbol(key)}}</td>
		  </tr>
        </tbody>
      </table>
	</div>
</div>
